/* Style */
header {
    text-align: center;
} 

@media (min-width: 500px) {
    h1 {
        color: blue;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-auto-rows: minmax(300px, auto);
        max-width: 1200px;
        margin: auto;
    }

    .single-item {
        display: inline-grid;
        min-height: 50px;
        text-align: center;
        padding-top: 2rem;
        color: white;
    }

    .double-item {
        display: inline-grid;
        min-height: 50px;
        text-align: center;
        padding-top: 2rem;
        color: white;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media (max-width: 499px) {
    h1 {
        color: red;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: minmax(300px, auto);
        margin: auto;
    }

    .single-item {
        display: inline-grid;
        min-height: 50px;
        text-align: center;
        padding-top: 2rem;
        color: white;
    }

    .double-item {
        display: inline-grid;
        min-height: 50px;
        text-align: center;
        padding-top: 2rem;
        color: white;
    }
}

.simon-item {
    background-color: slateblue;
}

.twitch-item {
    background-color:grey;
}

.recipe-item {
    background-color: lightcoral;
}